{{#if @member.paid}}
  
{{else if @member}}
  <div  class="container  m-auto p-12 my-3 w-5/6">

{{!-- <!-- ads Section  && paste here ads --> --}}

            <ins class="adsbygoogle m-auto"
                style="display:block"
                data-ad-client="ca-pub*****009784"
                data-ad-slot="77*****95"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
    </script>


</div>

{{else}}

  <div  class="container  m-auto p-12 my-3 w-5/6">

{{!-- <!-- ads Section && paste here ads --> --}}


            <ins class="adsbygoogle m-auto"
                style="display:block"
                data-ad-client="ca-pub*****009784"
                data-ad-slot="77*****95"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    
</div>

{{/if}}




