<!-- botton or footer banner -->
<div id="bannerCondition" class="hidden h-14 w-full p-4 bg-black  sticky left-0 bottom-0">
    <div
        class="m-auto w-5/6 xs:w-5/6 sm:w-4/6 md:w-4/6 lg:w-4/6 xl:w-4/6 2xl:w-4/6 flex flex-col xs:flex-col sm:flex-col md:flex-row lg:flex-row xl:flex-row 2xl:flex-row justify-between">
        <p class="text-sm items-center text-white m-auto">
            Accept all the term and condition
            {{#if @custom.copyright_url}}
            and <a href="{{@custom.copyright_url}}" target="_blank" > Read More </a> {{/if}} 
        </p>
        <div
            class="flex flex-row items-center justify-between w-4/4 xs:w-4/4 sm:w-4/4 md:w-2/4 lg:w-2/4 xl:w-2/4 2xl:w-2/4 my-6 xs:my-6 sm:my-6 md:my-6 lg:my-0 xl:my-0 2xl:my-0">
            <button onclick="accpeptButton()"
                class="text-sm focus:outline-none bg-white text-black h-7 p-1 w-24 items-center rounded-full">
                Accept
            </button>

            <a {{#if @custom.copyright_url}} <a href="{{@custom.copyright_url}}" target="_blank" {{else}} <a href="#"
                {{/if}}
                class="text-sm focus:outline-none bg-white text-center text-black p-2 w-24  items-center rounded-full">
                Learn More
            </a>
        </div>
    </div>
</div>