{{#if comments}}

    <div class="w-full max-w-7xl mx-auto mt-10 px-6 border border-slate-200  bg-white! text-black! rounded-lg shadow-md py-12">
        
        <div class="mt-5 mb-10 flex items-center justify-between p-6 flex-row">
            <h2 class="text-left text-xl font-bold lg:text-2xl">
                Member discussion
            </h2>
            <p class="flex flex-row">
                {{comment_count empty="0 comment" class="mx-1" singular="comment" plural="comments" autowrap="span" }}
            </p>
        </div>          
        
        {{!-- Render the comments section --}}
        <div class="w-full px-5 py-8">
            {{ comments title="" count=false mode="light" }}
        </div>

    </div>

{{/if}}