<footer
    class="flex flex-col my-5 justify-around sm:flex-col  md:flex-col lg:flex-row xl:flex-row 2xl:flex-row p-5 dark:bg-black dark:text-white">
    {{#if @custom.copyright}}
    <h2 class="text-sm">{{@custom.copyright}}</h2>
    {{/if}}


    {{navigation type="secondary"}}

</footer>