<nav class="px-4 my-16 flex flex-row justify-between container mx-auto" role="navigation">
    {{#if prev}}
        <a class="text-md text-white" href="{{page_url prev}}">&larr; Newer Posts</a>
    {{/if}}
    <span class="text-md text-white">Page {{page}} of {{pages}}</span>
    {{#if next}}
        <a class="text-md text-white" href="{{page_url next}}">Older Posts &rarr;</a>
    {{/if}}
</nav>