    <div class='bg-blue-400 text-white p-5'>

        <ul class="scroll-smooth overflow-x-scroll grid  grid-flow-col w-10/12">
            <li
                class="w-40 text-center mx-2 text-base xs:text-base sm:text-lg md:text-base lg:text-lg xl:text-lg 2xl:text-lg">
                <a target='_blank' href="https://officialrajdeepsingh.dev/tag/linux/">Linux</a>
            </li>
            <li
                class="w-40 text-center mx-2 text-base xs:text-base sm:text-lg md:text-base lg:text-lg xl:text-lg 2xl:text-lg">
                <a target='_blank' href="https://officialrajdeepsingh.dev/tag/raspberry/">Raspberry pi</a>
            </li>
            <li
                class="w-40 text-center mx-2 text-base xs:text-base sm:text-lg md:text-base lg:text-lg xl:text-lg 2xl:text-lg">
                <a target='_blank' href="https://officialrajdeepsingh.dev/tag/ghost-cms/">Ghost CMS</a>
            </li>
            <li
                class="w-40 text-center mx-2 text-base xs:text-base sm:text-lg md:text-base lg:text-lg xl:text-lg 2xl:text-lg">
                <a target='_blank' href="https://medium.com/frontendweb">Frontend Web</a>
            </li>
            <li
                class="w-40 text-center mx-2 text-base xs:text-base sm:text-lg md:text-base lg:text-lg xl:text-lg 2xl:text-lg">
                <a target='_blank' href="https://medium.com/nextjs">Nextjs</a>
            </li>

        </ul>
    </div>