{{!< default}} 

<section class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">

  <div class="mx-auto max-w-screen-sm text-center">

    <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600">
      {{statusCode}}
    </h1>

    <p class="mb-4 text-lg font-light text-gray-500 ">
      {{message}}
    </p>

    <a href="{{@site.url}}" class="mt-10 text-center w-46 m-auto my-20 p-3 bg-black text-white items-center rounded-lg">
      Home
    </a>

  </div>

</section>