{{!< default}} 

<div class="container mx-auto px-6 py-10 space-y-12 md:space-y-28 lg:py-12 lg:px-8 ">

{{#foreach posts}}

    {{> card }} {{!-- partials/card.hbs --}}

{{/foreach}}

</div>

<div class="container mx-auto px-6 py-10 lg:py-12 lg:px-8">
{{pagination}} {{!-- Add pagination --}}
</div>