{{!< default}} 
{{#tag}} 

<section class="container mt-18 mb-28 mx-auto">

    <h1 class="flex px-8 items-center gap-4 text-2xl md:text-3xl font-bold tracking-tight  lg:text-5xl">
        {{> "icons/tag"}} {{!-- partials/icons/tag.hbs --}}
        {{name}} 
    </h1>
    {{#if description}}
    <p class="px-8 mt-8 gap-4 text-sm font-light tracking-tight  md:text-xl"> {{description}} </p>
    {{/if}}
    
</section>

    {{!-- get posts related to tag base on tag slug --}}
    {{#get "posts" include="authors,tags" limit="3" filter="tag:{{slug}}" as |related|}}
        {{> "posts-loop" posts=related layout=@custom.home_layout}}
    {{/get}}

{{/tag}}