{{!< default}} 
{{#tag}} 

<section class="container my-16  mx-auto">

    <h1 class="flex px-8 items-center gap-4 text-5xl font-bold tracking-tight text-slate-900 md:text-6xl dark:text-white">
        {{> "icons/tag"}} {{!-- partials/icons/tag.hbs --}}
        {{name}} 
    </h1>

</section>

    {{!-- get posts related to tag base on tag slug --}}
    {{#get "posts" include="authors,tags" limit="3" filter="tag:{{slug}}" as |related|}}
        {{> "posts-loop" posts=related}}
    {{/get}}

{{/tag}}