{{!< default}} 

{{#tag}} 

<section class="container my-16 text-left mx-auto">
        <h2 class="py-1 border-b-2 border-indigo-500/75 mb-4 text-4xl capitalize tracking-tight font-bold text-foreground"> Tagged / {{name}} </h2>
</section>

    {{!-- get posts related to tag base on tag slug --}}
    {{#get "posts" include="authors,tags" limit="3" filter="tag:{{slug}}" as |related|}}

        {{!-- loop posts base on article --}}
        {{#foreach related}}
             {{!-- partials/postCard.hbs --}}
             {{> card }}
        {{/foreach}}

    {{/get}}

{{/tag}}