name: Testing ghost theme with Gscan

on:
  - pull_request
  - push

jobs:
  testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v6.2.0
        with:
          node-version: 22
      - name: Setup pnpm
        uses: pnpm/action-setup@v4.2.0
      - run: pnpm --version
      - run: pnpm dlx gscan@latest . --v6
