name: Testing ghost theme with Gscan

on:
  - pull_request
  - push

jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3
        with:
          version: 9
      - run: pnpm --version
      - run:  pnpm add gscan
      - run: pnpm dlx gscan@latest . --v6
